.header {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  background: url('../assets/bg-mini.jpg');
  background-size: cover;
  background-position: center 10;
  z-index: 1;
}
.shift {
  color: #FEF7F7;
}